<h2>Booking confirmation</h2>

<ul>
    <li>
        <%= booking.customer.name%>
    </li>
    <li>
        <%= booking.cook.name%>
    </li>
    <li>
        <%= booking.date%>
    </li>
    <li>
        <%= booking.time%>
    </li>
    <li>
        <%= booking.duration%>
    </li>
    <li>
        <%= booking.numberOfPeople%>
    </li>
    <li>
        <%= booking.specRequirements%>
    </li>
</ul>