<link rel="stylesheet" href="/stylesheets/cook-profile.css">
<body>


<h3>Cook profile</h3>

<h2>
  <%= cook.name%>
</h2>

<div>
  <h3>Cuisine:</h3>
  <p>
    <%= cook.cookData.cuisine%>
  </p>
</div>

<div>
  <h3>Experience:</h3>
  <p>
    <%= cook.cookData.experience%>
  </p>
</div>

<div>
  <h3>Description:</h3>
  <p>
    <%= cook.cookData.description%>
  </p>
</div>

<div>
  <h3>Location:</h3>
  <p>
    <%= cook.cookData.location%>
  </p>
</div>

<div>
  <h3>Availability:</h3>
  <p>
    <%if (cook.cookData.availability) { %>
      <p>Avaialable</p>
      <% }else{ %>
        <p>Not avaialable</p>
        <% } %>
  </p>
</div>

<form action="/cooks/<%= cook._id %>/booking">
  <input type="submit" value="Book this Cook !" />
</form>

</body>
