<div class="container cook-profile-container"> 
 <div class="notification">

<section>
<h1>Cook profile :    <%= cook.name%></h1>
</section>

<br>

<div>
  <h3>Cuisine:</h3>
  <p>
    <%= cook.cookData.cuisine%>
  </p>
</div>

<br>

<div>
  <h3>Experience:</h3>
  <p>
    <%= cook.cookData.experience%>
  </p>
</div>

<br>

<div>
  <h3>Description:</h3>
  <p>
    <%= cook.cookData.description%>
  </p>
</div>

<br>

<div>
  <h3>Location:</h3>
  <p>
    <%= cook.cookData.location%>
  </p>
</div>

<br>

<div>
  <h3>Availability:</h3>
  <p>
    <%if (cook.cookData.availability) { %>
      <p>Avaialable</p>
      <% }else{ %>
        <p>Not avaialable</p>
        <% } %>
  </p>
</div>

<br>

<form action="/cooks/<%= cook._id %>/booking">
  <input class="button is-danger" type="submit" value="Book this Cook !" />
</form>

</div>
</div>